/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  font-family: 'Abel', sans-serif;
}
finalisehtml {
  min-width: 320px;
}

#pageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/bg-desk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.opacity {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #000000bf;
  z-index: 1;
}
#contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

#logo {
  width: 250px;
  padding-bottom: 50px;
}

#text {
  font-size: 76px;
  color: white;
  padding-bottom: 20px;
}

svg {
  width: 50px;
  height: 41px;
}

.fbbg,
.fbf,
.mail {
  transition: all 0.2s ease-in;
}

.linkContainer {
  padding-bottom: 10px;
}

#mail {
  padding-left: 20px;
  width: 50px;
  height: 41px;
}

svg:hover .fbbg {
  fill: black !important;
}

svg:hover .fbf {
  fill: white !important;
}

svg:hover .mail {
  fill: black !important;
}

a {
  color: transparent;
}

p {
  color: white;
}

/* @media */

@media screen and (max-width: 1500px) {
  #pageContainer {
    background: url(../img/bg-laptop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (max-width: 951px) {
  #pageContainer {
    background: url(../img/bg-tablet.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (max-width: 750px) {
  #text {
    font-size: 45px;
    color: white;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  #pageContainer {
    background: url(../img/bg-mobile.jpg) center center !important;
  }
  #text {
    font-size: 30px;
    color: white;
    padding-bottom: 20px;
  }
}
